/* Header */
body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #84d6f7;
    height: 100px;
    z-index: 1000;
    display: flex;
}

.schlimg {
    display: none;
}

.navigation{
    display: block;
    width: 100%;
    text-align: center;
    nav a {
        color: rgb(29, 10, 233);
        text-decoration: none;
        margin: 0 15px;
        font-size: large;
        font-weight: bold;
    }
    nav{
        margin: 20px;
    }

}
nav a:hover {
    background: linear-gradient(135deg, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8));
    padding: 10px;
    color: white;
}

header h1 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255), rgba(149, 5, 27, 0.8), rgba(0, 119, 255, 0.611));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Main Section */
main {
    padding-top: 100px;
    background-color: white;
    /* background: linear-gradient(to left, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8)); */
}

table {
    background-color: rgba(0, 0, 0, 0.315);
    margin-top: 35px;

}


table {
    width: 100%;
    border: 1px solid black;
    /* background: linear-gradient(to right, rgb(231, 103, 125),  rgb(91, 91, 231)); */
    background: linear-gradient(135deg, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8));

}

th,
td {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;

}

.tablebtn {
    background: linear-gradient(to right, rgb(14, 14, 123), rgb(218, 61, 87));
    color: white;

    a {
        color: white;
    }
}


@media (min-width:1500px) {

    .schlimg {
        background: url(../src/schlimg.jpg);
        width: 30%;
        height: 100%;
        display: flex;
        background-size: cover;
        display: inline-block;
    }

    header {
        height: 160px;
        justify-content: space-between;
        display: flex;
    }
    main{
        margin-top: 50px;
    }

    #classcontact {
        width: 40vh;
        display: flex;
        margin: 0;
        justify-content: space-between;
    }
    .artcl{
        background: url(../src/AdobeStock_281428151_Preview.jpeg);
        margin-left: 10px;
        width: 100%;
    }

}

@media(max-width:500px) {
    .disabledPhonScrn {
        display: none;
    }

    body {
        color: white;
        background-color: white;
    }

    .viewbtn{
        background-color: blue;
       a{
        color: white;
        text-decoration: none;
       }
    }
}


.viewDetailsExpandclass {
    display: none;
    background: linear-gradient(to left, rgb(14, 14, 123), rgb(218, 61, 87));
    margin-top: 10px;
    padding: 2px;
    width: 105%;
    padding-left: 5px;

    button {
        padding: 7px 9px 7px 9px;
    }
}


.resetbtn {
    background-color: green;

    a {
        color: white;
        text-decoration: none;
    }
}

.dltbtn {
    background-color: red;
    color: white;
}
.hidebtn{
    background-color: #0f0bef;
    color: white;
   
}
