/* Header */
body {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #84d6f7;
    height: 100px;
    z-index: 1000;
    display: flex;
}

.schlimg {
    display: none;
}

.navigation{
    display: block;
    width: 100%;
    text-align: center;
    nav a {
        color: rgb(29, 10, 233);
        text-decoration: none;
        margin: 0 15px;
        font-size: large;
        font-weight: bold;
    }
    nav{
        margin: 20px;
    }

}
nav a:hover {
    background: linear-gradient(135deg, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8));
    padding: 10px;
    color: white;
}

header h1 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255), rgba(149, 5, 27, 0.8), rgba(0, 119, 255, 0.611));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Main Section */
main {
    padding-top: 100px;
    background-color: #a3e2fb;

    /* background: linear-gradient(to left, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8)); */
}

/* Form section styling */
.formsection {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

form {
    /* background-color: rgba(30, 2, 2, 0.258); */
    padding: 35px;
    /* background: linear-gradient(to right, rgb(218, 61, 87),  rgb(14, 14, 123)); */
    background: linear-gradient(135deg, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8));

}

table {
    background-color: rgba(0, 0, 0, 0.315);

}

/* Form fields styling */
.formfields {
    display: flex;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    width: 40vh;
    font-size: large;
    border-radius: 5px;
    color: white;

}

table {
    width: 100%;
    border: 1px solid black;
    /* background: linear-gradient(to right, rgb(231, 103, 125),  rgb(91, 91, 231)); */
    background: linear-gradient(135deg, rgba(238, 0, 153, 0.8), rgba(0, 119, 255, 0.8));

}

th,
td {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;

}

input,
textarea,
select {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
}

select {

    option {
        color: rgb(255, 0, 204);
        font-size: larger;
        font-weight: bold;
    }
}

input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
}

/* Submit button */
.submit {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(14, 14, 123), rgb(218, 61, 87));
    cursor: pointer;
    font-size: large;
    font: bold;

    a {
        color: white;
    }
}

.tablebtn {
    background: linear-gradient(to right, rgb(14, 14, 123), rgb(218, 61, 87));
    color: white;

    a {
        color: white;
    }
}

.sectionform {
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 5px;

    article {
        /* background-color: brown; */
        width: 50%;
    }

    label,
    input,
    select {
        /* background-color: blue; */
        width: 40vh;
        display: flex;
        margin: 0;
        /* justify-content: space-between; */
        border-radius: 5px;
        padding: 10px;
        /* justify-content: center; */
    }
}

@media (min-width:1500px) {

    .schlimg {
        background: url(../src/schlimg.jpg);
        width: 30%;
        height: 100%;
        display: flex;
        background-size: cover;
        display: inline-block;
        background-color: red;
    }

    header {
        height: 160px;
        justify-content: space-between;
        display: flex;
    }
    main{
        margin-top: 50px;
    }

    .formfields {
        width: 95vh;
        /* align-items: center;
        justify-content: center; */
        border-radius: 40px 75px;
    }

    .submit {
        /* width: 100vh; */
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 20px 0 0px 40%;
        /* background-color: brown; */
        padding: 15px;
        border-radius: 75px;
        font-size: large;
    }

    a {
        text-decoration: none;
    }

    #classcontact {
        width: 40vh;
        display: flex;
        margin: 0;
        justify-content: space-between;
    }

    .sectionform {
        display: flex;
        justify-content: space-between;
        padding: 5px;

        article {
            /* background-color: brown; */
            width: 50%;
        }

        label,
        input,
        select {
            /* background-color: blue; */
            width: 40vh;
            display: flex;
            margin: 0;
            justify-content: space-between;
            border-radius: 40px 75px;
            padding: 10px;
            justify-content: center;
            color: white;
        }
    }



    button {
        color: rgb(54, 6, 6);

        a {
            color: rgb(16, 53, 16);
        }
    }
    .artcl{
        background: url(../src/AdobeStock_281428151_Preview.jpeg);
        margin-left: 10px;
        width: 100%;
    }

}

@media(max-width:500px) {
    .disabledPhonScrn {
        display: none;
    }

    body {
        color: white;
        background-color: #2b6a8b;
    }

    .video-background {
        background-color: #2b6a8b;
    }
    .viewbtn{
        background-color: blue;
       a{
        color: white;
        text-decoration: none;
       }
    }
}

@media(min-width:500px) {
    .disabledScrn {
        display: none;
    }
}
.viewDetailsExpandclass {
    display: none;
    background: linear-gradient(to left, rgb(14, 14, 123), rgb(218, 61, 87));
    margin-top: 10px;
    padding: 2px;
    width: 105%;
    padding-left: 5px;

    button {
        padding: 7px 9px 7px 9px;
    }
}


.resetbtn {
    background-color: green;

    a {
        color: white;
        text-decoration: none;
    }
}

.dltbtn {
    background-color: red;
    color: white;
}
.hidebtn{
    background-color: #0f0bef;
    color: white;
   
}
